@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Squada+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-lr {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
}

.swiper-pagination-bullet {
  @apply rounded-none bg-black opacity-100 h-2 w-2;
}
.swiper-pagination-bullet-active {
  @apply w-4 bg-primary;
}

.swiper-slide-active img {
  @apply grayscale-0
}
.swiper-slide-active h3 {
  @apply lg:block;
}
.swiper-slide-active a {
  @apply lg:block;
}
.swiper-slide-active p {
  @apply lg:block
}
.swiper-slide-active img {
  @apply grayscale-0;
}

@media (min-width: 768px) {
  .swiper-slide-active {
  width: 39.75rem !important;
  height: 27.4375rem !important;
  }
}

.grid-size, .grid-item {
  @apply w-1/2 pl-3 pr-3 md:w-1/4;
}

